img {
  max-width: 100%;
  height: auto;
  /* width: 800px */
}

body {
  margin-right: 1em;
  margin-left: 1em;
}

a:link {
  text-decoration: none;
}

#romp {
  width: 125px;
}

#bold {
  font-weight: bold;
  
}